<h3>
    Свържете се с нас, като ни изпратите имейл. Отворени сме за вскакви препоръки и идеи. Ще се радваме да чуем вашето мнение!
</h3>

<button class="btn"><email address="lyubkakashkavelina@gmail.com" content="Свържи се с нас"></email></button>