@model AdCreateViewModel

    <form enctype="multipart/form-data" asp-action="Checkout" method="post" class="form-horizontal" role="form">
        <h4>Добавяне на нова обява</h4>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="PetCategoryId" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <div class="form-check form-check-inline">
                    <input type="radio" asp-for="PetCategoryId" value="1" class="form-check form-check-inline" />Изгубени<br />
                    <input type="radio" asp-for="PetCategoryId" value="2" class="form-check form-check-inline" />Намерени<br />
                </div>
                <span asp-validation-for="PetCategoryId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PetTypeId" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <select asp-for="PetTypeId" class="form-control" asp-items="ViewBag.PetTypeId">
                    <option>Моля, изберете тип...</option>
                </select>
                <span asp-validation-for="PetTypeId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="RegionId" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <select asp-for="RegionId" class="form-control" asp-items="ViewBag.RegionId">
                    <option>Моля, изберете област...</option>
                </select>
                <span asp-validation-for="RegionId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PetName" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="PetName" class="form-control" />
                <span asp-validation-for="PetName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="GenderType" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <select data-toggle="dropdown" class="form-control" asp-for="GenderType" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option selected="selected">Моля, изберете пол...</option>
                </select>
                <span asp-validation-for="GenderType" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Photo" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <div class="custom-file">
                    <input asp-for="Photo" class="form-control custom-file-input" />
                    <label class="custom-file-label">Изберете файл...</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PublisherEmail" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="PublisherEmail" class="form-control" />
                <span asp-validation-for="PublisherEmail" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PublisherPhone" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="PublisherPhone" class="form-control" />
                <span asp-validation-for="PublisherPhone" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="AdDescription" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="AdDescription" class="form-control" />
                <span asp-validation-for="AdDescription" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="submit" class="btn btn-primary" value="Публикувай" />
            </div>
        </div>

        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
                });
            </script>>
        }
    </form>
